*{
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3 {
    text-align: center;
}
mark {
   font-weight: bold;
}
.avatar {
    float: right;
    height: 200px;
    width: auto;
}
.time {
    text-align: center;
}